/* font work sans from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-button {
    padding: 20px 30px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 5px;
}

.header {
    background-color: rgba(255, 144, 14, 0.10);
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}

nav>ul {
    display: flex;
}


nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 1.25;
    color: #424242;
}

.banner {
    margin: 40px 240px;
}

.banner-description {
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-para {
    font-size: 1.2rem;
    color: #727272;
    margin-bottom: 30px;
    width: fit-content;
}

.banner-image>img {
    margin-top: 50px;
    width: 100%;
}

/* media queries */

/* mobile or small device */
@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-title {
        font-size: 1.5rem;
    }

    .banner {
        margin: 20px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-para {
        font-size: 1rem;
    }

}

/* Ipad or medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-title {
        font-size: 1.5rem;
    }

    .banner {
        margin: 50px;
    }

    .banner-title {
        font-size: 2.2rem;
    }

    .banner-para {
        font-size: 1.2rem;
    }
}